<%- layout('/yelpcampViews/layouts/boilerplate') %>

<div class="container pt-4  mb-4 d-flex justify-content-between w-100 align-items-center">
    <a href="/yelpcamp" class="link-offset-2 w-100 p2-3 link link-underline link-underline-opacity-0 ">Back</a>
</div>

<div class="container w-100">

    <% if (danger && danger.length) { %>
        <div class="alert alert-secondary alert-dismissible fade show my-3" role="alert">
    
            <%= danger %>
    
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% } %>

    <form action="/yelpcamp/user/login" method="post" class="form-control  form" novalidate id="form">
        <h1 class="text-secondary fw-regular my-4 mb-5">Login Account</h1>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="username" required name="username">
            <label for="username" class="text-body-tertiary fw-semibold fs-6">Username</label>
            <div class="invalid-feedback">Please enter the Username</div>
        </div>

        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="password" required name="password">
            <label for="password" class="text-body-tertiary fw-semibold fs-6">Password</label>
            <div class="invalid-feedback">Please enter the Password</div>
        </div>

        <button class="btn btn-primary py-2" type="submit">Login</button>

    </form>

    

</div>