<%- layout('/yelpcampViews/layouts/boilerplate') %>

    <div id="landingCont">
        <div class="content">
            <h1>Discover Your Next Adventure</h1>
            <p>Escape into the wilderness and immerse yourself in unforgettable experiences with YelpCamp. Whether you're a seasoned
            outdoor enthusiast or a first-time camper, YelpCamp offers the perfect blend of natural beauty, tranquility, and
            adventure.</p>
            <a href="/yelpcamp" class="btn btn-outline-light">Explore</a>
        </div>
    </div>