<%- layout('/yelpcampViews/layouts/boilerplate') %>

 
<div id="landingCont" style=" background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),url('/landingBg.jpg'); background-size: cover;
  background-position: center;
  background-repeat: no-repeat;">
        <div class="content">
            <h1>YelpCamp</h1>
            <p>YelpCamp is a camping site application that allows users to view, create, edit, and review campgrounds around the world.
            Built with Node.js, Express, and MongoDB, it features full CRUD functionality, user authentication, and session
            management.</p>
            <a href="/yelpcamp" class="btn btn-outline-light">Explore</a>
        </div>
    </div>